<!--<p>login works!</p>-->

<div class="login-container">
  <img class="roll" src="assets/images/roll.png">
  <div class="logo">Rotten potatoes</div>
  <div class="disc">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium esse laboriosam rem sequi? Autem consequuntur debitis distinctio error ex fugit necessitatibus officiis ut? Aliquid blanditiis cupiditate dolore esse laborum minima molestias nihil, possimus vero. Ea numquam reiciendis tempore ullam voluptatum.
  </div>
  <div class="login-form">
    <div class="form-group">
      <label for="uname">Username</label>
      <input type="text" name="uname" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="pword">Password</label>
      <input type="password" name=""pword class="form-control"/>
    </div>
    <div class="btn-container">
      <button class="btn btn-success">Login</button>
    </div>
  </div>
</div>

